/**
 * App
 * @class app
 */

.app {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 20px;
}

.app h1,
.app h2,
.app h3,
.app h4,
.app h5,
.app h6 {
    font-weight: normal;
    line-height: 1em;
}

.app h1,
.app h2,
.app h3,
.app h4,
.app h5,
.app h6,
.app p {
    margin: 0 0 1rem 0; 
}

.app h1 { font-size: 3.5em; }
.app h2 { font-size: 3em; }
.app h3 { font-size: 2.5em; }
.app h4 { font-size: 2em; }
.app h5 { font-size: 1.5em; }
.app h6 { font-size: 1em; }

.app .wide {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
 
.app .wide iframe,
.app .wide object,
.app .wide embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.app pre {
    border-top: 1px solid #bbb;
    padding-top: 10px;
    font-size: 12px;
}